.conteiner_father {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    width: 100%;


}

.conteiner {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -200px;
}
p{
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    margin-left: -15px;
}

body{
margin: 0;
    box-sizing: border-box;
}