body {
    margin: 0;
    font-family: "Kanit", sans-serif;
}

.father_container {
    width: 100%;
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.content_container {
    display: flex;
    width: 80%;
    height: 800px;
    border: 0.5px solid white;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.54);
    box-shadow: 1px 15px 80px white;
    padding: 50px 50px 0 50px;
}

.poster_path {
    width: 440px;
    height: 550px;
    border-radius: 8px;

}

.information_container {
    margin-left: 20px;
    background: rgba(0, 0, 0, 0.71);
    box-shadow: 1px 15px 80px black;
    border: 0.5px solid rgba(0, 0, 0, 0.70);
    border-radius: 12px;
    height: 750px;

}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.text {
    font-size: 15px;
    font-weight: 400;
    margin-left: 42px;
    width: 1020px;
    padding-right: 5px;
}
.rating{
    position: absolute;
    bottom: 40px;
    left: 685px;
}

p {
    font-weight: 700;
    font-size: 23px;
}

.btn_watching, .btn_wishlist, .btn_download, .btn_share {
    width: 200px;
    height: 50px;
    margin: 15px 10px 0 10px;
    border: 0.5px solid white;
    border-radius: 12px;
    background: whitesmoke;
    color: black;
    font-weight: 900;
}

._watching_wishlist {
    margin-top: 30px;
}

.btn_watching:hover, .btn_wishlist:hover, .btn_download:hover, .btn_share:hover {
    box-shadow: 1px 5px 85px rgba(0, 0, 0, 0.95);
    transition: 1s;
}

.icon {
    width: 24px;
    height: 24px;
    position: absolute;
    margin: 28px 0 0 25px;
}



